
@font-face {
    font-family: iconfont !important;
    src: url(./assets/iconfont.ttf);
}

// 基础样式
.o-icon{
    font-family: iconfont !important;
    font-size: 1em;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// 图标
.o-icon-loading {
    &::before{
        content: '\e891';
    }
}
