
@font-face {
    font-family: iconfont !important;
    src: url(./assets/iconfont.ttf);
}

// 基础样式
.o-icon{
    font-family: iconfont !important;
    font-size: 1em;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// 旋转
.o-icon-spin{
    animation: icon-spin 1s linear infinite;
}

@keyframes icon-spin {
    100% {
        transform: rotate(360deg);
    }
}



// 图标

.o-icon-loading::before{
    content: '\e891';
}
.o-icon-close-fill::before{
    content: '\e6a6';
}
.o-icon-close::before{
    content: '\e6a7';
}
.o-icon-eye::before{
    content: '\e636';
}
.o-icon-eye-close::before{
    content: '\e8ff';
}

