@import '../index.module.less';

.o-input{
    padding: 0.3em;
    margin-top: 0.5em;
    margin-left: 1em;
    outline: none;
}

.o-input-border{
    border: 1px solid #ccc;
    &:focus{
        border: 1px solid @--mian-color;
    }
}

// 小
.o-input-small{
    width: 12em;
    height: 1.1em;
}
// 中
.o-input-middle{
    width: 14em;
    height: 1.7em;
}

// 大
.o-input-large{
    width: 16em;
    height: 2em;
}